# Python
__pycache__/
*.pyc
.venv/
.env
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/
renv/library/

# Data outputs
/data/raw/*
!/data/raw/.gitkeep
/data/processed/*
!/data/processed/.gitkeep
/data/results/*
!/data/results/.gitkeep

# Editors
.vscode/
.idea/
